<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'About'}); %>
            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Oi sou Rodrigo Silva aluno de programação!</p>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

</html>